<h1>Blog Posts</h1>
<div>

<form class="d-flex"  method="GET" action="/search">
  <input class="form-control rounded" type="search" 
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"name="query">
        
  <button class="btn btn-primary" type="submit">Search</button>
  </form>
</div>

<div class="cal-md-4 ">
    <div class="card mt-4">
          <div class="card-header">
              Categories
          </div>

          <div class="card-body">
                  <% @categories.each do |category|%>
                    <div class="well"> 
                          <h5><%= link_to category.category, posts_path(:cate => category.id) %></h5>
                    </div>
                  <%end %>
          </div>
    </div>
</div>


<% @posts.each do |post| %>
    <div class="well"> 
         <h2><%= post.title.titleize%></h2>
        <h3><%= post.body.titleize%></h3> 
        
         <%# <h2><%=post.full_name%></h2> 
         <%= link_to "Read More", post_path(post), :class => 'btn btn-primary'%>
    </div>
<% end %> 





