<div class="text-center">
<%# <h1>Category:<%= @post.category&.category %></h1> 
<h1><strong>Category:</strong>
<%= @post.category&.category %>
</h1>
<h2><strong>Title:</strong>
<%= @post.title%>
</h2>
<h3><strong>Body:</strong>
<%= @post.body%>
</h3>
<h4><strong>By:</strong>
<%= @post.user.username%>
</h4>
<% if @post.user == current_user%> 
  <%= link_to "edit", edit_post_path(@post), :class => 'btn btn-primary'%>
  <%= link_to "Delete", post_path(@post),  method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger' %>  
<% end %>


<hr>

<%= link_to "back", posts_path, :class => 'btn btn-primary'%>

<hr>

<%= render 'comments/comments'%>
<%= render 'comments/form'%>
</div>